/node_modules
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
/.phpunit.cache
Homestead.json
/public/assets
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/_ide_helper.php
/resources/backups
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
